@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Orbitron:wght@400..900&display=swap");

.about {
  margin-top: 83px;
  font-family: "Afacad", sans-serif;
  display: flex;
  align-items: center;
  gap: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
  background-image: url("../components/img/backhome.jpg");
  background-size: cover;
  background-position: center;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about h1 {
  text-align: left;
  padding: 10px 0;
  font-size: 4.0em;
  color: white;
}

.about p {
  color: white;
  line-height: 1.8;
  margin: 10px 0;
  font-size: 1.5em;
  text-align: left;
}

.UX{
  color: blanchedalmond;
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .about h1 {
    font-size: 1.5em;
  }

  .about p {
    font-size: 1.2em;
    width: 100%;
  }
}
