@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Orbitron:wght@400..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900&family=Playwrite+AU+VIC:wght@100..400&display=swap');

.contenidoHome{
  font-family: "Afacad", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
  background-image: url("../components/img/backhome.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile-image {
  width: 300px;
  height: 300px;
  margin: 20px;
  border-radius: 50%;
  object-fit: contain;
  border: 3px solid black; 
  background-color: white;
}

.contenidoHome p {
  font-family: "Afacad", sans-serif;
  font-size: 30px;
  padding-top: 40px;
  text-align: center;
}

.cv {
  margin-top: 20px;
  font-family: "Afacad", sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  padding: 10px 30px;
  color: white;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.cv:hover {
  background-color: white;
  color: black;
} 

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}

.typing-animation {
  font-family: "Afacad", sans-serif;
  overflow: hidden;
  border-right: .15em solid white;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: blink-caret .75s step-end infinite;
}

@media (max-width: 768px) {

  .typing-animation{
    font-size: 1.3em;
  } 

  .contenidoHome {
    font-size: 20px;
  }
  .contenidoHome p {
    font-size: 20px;
  }
  .cv {
    padding: 8px 20px;
    font-size: 14px;
  }
}
